{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<main>
  <div class="row">
    <div class="col-md-4 offset-4">

      <!-- Default form subscription -->
      <div class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-4">{% trans "Sign Out" %}</p>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
        </form>

      </div>
      <!-- Default form subscription -->


    </div>
  </div>

</main>



{% endblock %}